<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /practicas_sustentables
  RewriteRule ^practicas_sustentables/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /practicas_sustentables/index.html [L]
</IfModule>